.instructions {
  align-self: center;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.image-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 2vw;
  width: 100vw;
  padding-right: 1.5vw;
  padding-left: 1.5vw;
  padding-bottom: 3vh;
  background-color: #ececec;
}

@media screen and (max-width: 75em) {
  .instructions  {
    font-size: 14px;
   }
}

@media screen and (max-width: 50em) {
 .instructions  {
  font-size: 12px;
 }
}