.instructions {
  align-self: center;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.image-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  align-items: center;
  gap: 2vw;
  width: 96vw;
  padding: 0vh 1.5vw 3vh 1.5vw;
  background-color: #ececec;
}

@media screen and (max-width: 60em) {
  .instructions  {
    font-size: 14px;
   }
}

@media screen and (max-width: 50em) {
 .instructions  {
  font-size: 12px;
 }
}