.instructions {
  align-self: center;
  padding: 1.5vh 0;
  background-color: #ececec
}

.image-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  align-items: center;
  gap: 2vw;
  width: 100vw;
  padding: 3vh 1.5vw 3vh 1.5vw;
  background-color: #ececec;
}

@media screen and (max-width: 60em) {
  .image-container { 
    grid-template-columns: repeat(2, 1fr)
  }
  .instructions  {
    font-size: 14px;
   }
}

@media screen and (max-width: 30em) {
  .image-container { 
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
 .instructions  {
  font-size: 12px;
 }
}