.generator-container {
  /* border: orange 2px solid; */
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 70vh;
  width: 70vw;
  margin: 2vw 15vw;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  width: 50vw;
}

.form-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 2vw;
}

.joke-option-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1% 0;
}

.joke-option-header {
  margin: 1.5%;
}

.joke-option {
  text-align: left;
  margin: 4% 0 0 2.5%;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.close-button,
.button {
  background-color: #222222;
  border-radius: 4px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  text-align: center;
  touch-action: manipulation;
}

.close-button {
  margin: 1.5%;
  width: 10%;
  align-self: flex-end;
}

.button {
  margin: 1%;
  padding: 10px 25px;
}

.close-button:hover,
.close-button:focus{
  background-color: red;
}

.button:hover,
.button:focus {
  opacity: .75;
}