.meme {
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95%;
  width: 50vw;
  border-radius: 5px;
  border: 1px #c3c3c3 solid;
}

.image-placeholder {
  height: 75%;
  width: 90%;
  margin: 5%;
}

.meme-joke {
  margin: 3%;
}

.meme-image {
  align-self: center;
  width: 95%;
  height: auto;
  margin-bottom: 2%;
}