.meme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95%;
  width: 95%;
  border-radius: 5px;
  border: 1px #c3c3c3 solid;
}

.meme-joke {
  margin: 3%;
  font-size: 1rem;
}

.meme-image {
  align-self: center;
  width: 95%;
  height: auto;
  margin-bottom: 2%;
}

@media screen and (max-width: 75em) {
  .meme-joke  {
    font-size: 12px;
  }
}

@media screen and (max-width: 50em) {
  .meme-image {
    font-size: 8px;
  }
}