* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  text-align: center;
}

.single-view-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 2vh 20vw;
}