.saved-meme-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: fit-content;
  width: 97vw;
  margin: 0 1.5vw;
  background-color: linear-gradient(to bottom, transparent 0%, #e7e7e7 100%);
}

.saved-meme-wrapper {
  margin: 3vh 0vh;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  background-color: linear-gradient(to bottom, transparent 0%, #e7e7e7 100%);
}

.saved-meme {
  height: auto;
  width: 30vw;
  cursor: pointer;
  position: relative;
  background-color: linear-gradient(to bottom, transparent 0%, #e7e7e7 100%);
}

.fav-icon {
  background-color: none;
  position: absolute;
  top: 1.5vh;
  right: 2vw;
  height: 3.5vh;
}

.view-fav-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ffffff;
}

.view-fav-button {
  cursor: pointer;
  border-radius: 3px;
  font-size: 13px;
  padding: 10px 30px;
  width: 145px;
  height: 35px;
  border: none;
  color: #fff;
  background-color: #FC6C04;
  transition: background-color .25s ease, color .25s ease;
  text-decoration: none;
  text-align: center;
  text-justify: center;
  text-anchor: middle;
  font-weight: 100;
  overflow: visible;
}

.view-fav-button:hover {
  background-color: #fe8026;
}

@media screen and (max-width: 75em) {
  .view-fav-button {
    font-size: 10px;
    width: 100px;
    height: 35px;
    padding: 5px;
  }
}

@media screen and (max-width: 50em) {
  .view-fav-button {
    font-size: 8px;
    width: 75px;
    max-height: 25px;
    padding: 5px;
  }
}