header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: white;
  border-top: solid #fc6c04;
  border-width: 6vh;
}

.logo {
  width: 7vw;
  height: auto;
  min-width: 50px;
  margin-left: 1.5vw;
  background-color: #ffffff;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
  margin-right: 1.5vw;
  width: fit-content;
  background-color: white;
}

.header-button {
  cursor: pointer;
  border-radius: 3px;
  font-size: .7rem;
  width: 10em;
  height: 2.7em;
  padding: 10px 5px;
  border: none;
  color: #fff;
  background-color: #FC6C04;
  transition: background-color .25s ease, color .25s ease;
  text-decoration: none;
  text-align: center;
  text-justify: center;
  text-anchor: middle;
  font-weight: 100;
  overflow-x: visible
}

.header-button:hover {
  background-color: #fe8026;
}

@media screen and (max-width: 75em) {
  .header-button {
    font-size: 10px;
    width: 115px;
    height: 30px;
  }
}

@media screen and (max-width: 50em) {
  .header-button {
    font-size: 8px;
    width: 100px;
    height: 30px;
  }
}