header {
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
  padding-bottom: 2%;
  background-color: white;
  padding-bottom: 1%;
  border-top: solid #fc6c04;
  border-width: 6vh;
}

header, nav {
  background-color: white;
}

nav {
  width: 25vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 5%;
  background-color: white;
  
}

.nav-link {
  color: #fc6c04;
  border-bottom: #fc6c04 1px solid;
  text-decoration: none;
  padding: 3px;
}

.nav-link.unselected {
  color: black;
  text-decoration: none;
  border-bottom: none;
}

.logo {
  width: auto;
  height: 15vh;
  min-width: 50px;
  padding-left: 1.2%
}

@media screen and (max-width: 60em) {
  
  .logo{
    padding-left: 3%;
  }
}

@media screen and (max-width: 27em) {
  
  .logo{
    padding-left: 8%;
  }

  nav {
    padding-right: 33%;
  }
}