/* .image-container{
} */

.button-image{
  height: auto;
  width: 31vw;
  cursor: pointer;
}

@media screen and (max-width: 60em) {
  
  .button-image{
    height: auto;
    width: 45vw;
  }
}

@media screen and (max-width: 27em) {
  
  .button-image{
    height: auto;
    width: 80vw;
  }
}