.button-image {
  height: auto;
  width: 30vw;
  margin: 1vw;
}

.button-image:hover {
  border: #fc6c04 3px solid;
  cursor: pointer;
}

@media screen and (max-width: 57em) {

  .button-image {
    height: auto;
    width: 45vw;
  }
}

@media screen and (max-width: 27em) {

  .button-image {
    height: auto;
    width: 80vw;
  }
}